@font-face {
    font-family: 'MS_Sans_Serif';
    src: url('../assets/font/MS-Sans-Serif.ttf') format('truetype');
}
@font-face {
    font-family: 'MS_Sans_Serif_Bold';
    src: url('../assets/font/MS-Sans-Serif-bold.ttf') format('truetype');
}