
@import './responsive_mixin';
@import './colors';
@import './fonts';
@import './typography';

$taskbar_height: 40px;
$taskbar_padding: 4px;
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

#task-bar {
    background-color: $primary_grey;
    color: black;
    height: $taskbar_height;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: $taskbar_padding;
    line-height: $taskbar_height;
    font-family: 'MS_Sans_Serif';


    .item {
        height: 100%;
        line-height: 100%;
        box-sizing: border-box;
        //line-height: calc(100% - 4px);
        border: 1px solid black;
        float: left;
        padding: 2px;
        margin-left: $taskbar_padding;
    }
    #start-btn {
        margin-left: 0;
        font-family: 'MS_Sans_Serif_bold';
    }
    #taskbar-clock {
        position: absolute;
        right: 0;
    }
    
}
#desktop {
    background-color: $desktop_color;
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}
